#{extends 'main.html' /}
#{set title:'Home' /}

<p>
    <label for="url">Enter a Url: </label>
    <input type="text" name="url" id="url" />
    <span class="error"></span>
</p>
<p>
    <input type="button" value="Crawl" id="crawlWebsite" />
</p>

<div id="history">
    <h3>Previously crawled sites</h3>
</div>


<script type="text/javascript">

   var crawlWebsiteAction = #{jsAction @Application.crawlWebsite(':url') /};
   var listHistoryAction = #{jsAction @list() /};

   function crawlEventComplete(id) {
        refreshHistory();
        window.location = "/sites/" + id
    }

   $(document).ready(function()
   {
      $("#history").hide();
      $("#crawlWebsite").click( function() {
        $.ajax( {type: "POST", url: crawlWebsiteAction({'url':$("#url").val()}),
                 success: function(id) {crawlEventComplete(id)  },
                 send: function(sent) {refreshHistory()},
                 error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $(".error").text(XMLHttpRequest.responseText);
                } });
      });

        refreshHistory();
    });



    function refreshHistory() {
      $(".error").empty()
      $.ajax( {type: "POST", url: listHistoryAction(), success: function(oldSites) {
          $("#history").empty()
          $.each(oldSites, function () {
            if (this.isCrawled == true) {
                $("#history").append(
                    "<h3> <a href=/sites/" + this.id + " class=\"blue\">" + this.url + "</a></h3>")
            }
            else {
                $("#history").append(
                    "<h3> <a href=/sites/" + this.id + " class=\"red\">" + this.url + "</a></h3>")
                $("#history").append("<small> Crawl incomplete (can take ~10 minutes to crawl) </small>")
            }
            $("#history").append(
                "<p> Crawl started at: " + this.crawledAt + "</p>")
            $("#history").show()
            })
          }
       });
    }



</script>
