#{extends 'main.html' /}
#{set title:'Home' /}

#{form @Application.crawlWebsite()}
<p>
    <label for="url">Enter a Url: </label>
    <input type="text" name="url" id="url" />
    #{ifErrors}
    <span class="error">#{error 'url' /}</span>
    #{/ifErrors}
</p>
<p>
    <input type="submit" value="Crawl" />
</p>
#{/form}

#{if oldSites}
<div class="history">
    <h3>Previously crawled sites</h3>

    #{list items:oldSites, as:'oldSite'}
    <div class="site">
        <h2 class="site-url">
            <a href="@{Application.show(oldSite.id)}">${oldSite.url}</a>
        </h2>
        <div class="site-metadata">
            <span class="site-date">
                ${oldSite.crawledAt.format('dd MMM yy')}
            </span>
        </div>
    </div>
    #{/list}
</div>

#{/if}

<script>

   $(document).ready(function()
   {
      $(".hide").hide();


   });
</script>
